
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title" id="exampleModalLabel">Seleccionar Filtros</h4>
</div>
<div class="modal-body">
    <form>
    <div class="form-group">
        <label for="recipient-name">Filtros</label>
        <div class="row filter" ng-repeat="filter in vmWidgetFilter.filters">
            <div class="col-8 col-sm-4">
                <select class="form-control" id="widget-entities" ng-model="filter.column" ng-options="item as item.name for item in vmWidgetFilter.allColumns track by item.id"  ng-required="true">
                </select>
            </div>
            <div class="col-8 col-sm-3">
                <select class="form-control" ng-model="filter.operation" ng-options="item as item.operation for item in vmWidgetFilter.filterOperations track by item.id"  ng-required="true">
                </select>
            </div>
            <div class="col-8 col-sm-3">
                <input type="text" class="form-control" id="value" ng-model="filter.value"></input>
            </div>
            <div class="col-8 col-sm-2">
                <button class="btn btn-primary btn-next" ng-click="vmWidgetFilter.addFilter()">Agregar</button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="recipient-name">Filto por Fecha</label>
        <div class="row"> 
            <div class="col-8 col-sm-8">
                <input type="text" name="cardExpires" class="form-control" id="cardExpires" uib-datepicker-popup="{{vmWidgetFilter.dpFormat}}" placeholder="{{vmWidgetFilter.dpFormat}}" ng-model="vmWidgetFilter.cardExpires" ng-required="true" is-open="vmWidgetFilter.dpOpen" datepicker-options="vmWidgetFilter.dpOptions" close-text="Close" ng-change="vmWidgetFilter.validateDate()">
            </div>
            <div class="col-8 col-sm-4">
                <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="vmWidgetFilter.dpOpen = !vmWidgetFilter.dpOpen"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
            <div class="col-8 col-sm-4">
                
            </div>
        </div>
    </div>
    
    
</form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default btn-next" ng-click="vmWidgetFilter.stepTree()">Atras</button>
    <button type="button" class="btn btn-default btn-next" ng-click="vmWidgetFilter.stepFour()">Preview</button>
    <button type="button" class="btn btn-default btn-next" data-dismiss="modal">Close</button>

</div>
