
<div class="modal-header">
    <button type="button" class="close" ui-sref="createWidget">&times;</button>
    <h4 class="modal-title" id="exampleModalLabel">Creando Widget</h4>
</div>
<div class="modal-body">
    
        <canvas id="pie" class="chart chart-pie chart-xs ng-isolate-scope" chart-data="data" chart-labels="labels" chart-options="options" height="327" width="655" style="display: block; width: 524px; height: 262px;"></canvas>
    
</div>
<div class="modal-footer">
    <button  type="button" class="btn btn-default" ng-click="vmWidgetPreview.stateBack()">Ok</button>
    <button type="button" class="btn btn-default" ui-sref="createWidget">Cerrar</button>
</div>
