<div block-ui="vmWidgetFilter.filterBlock">
    <div class="modal-header">
        <button type="button" ng-click="vmWidgetFilter.reset()" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="exampleModalLabel">Seleccionar Filtros</h4>
    </div>
    <form name="vmWidgetFilter.filterForm" ng-submit="vmWidgetFilter.stepFour()">
        <div class="modal-body filter-modal">
            <label for="recipient-name">Filtros</label>
            <button type="button" class="btn btn-primary btn-next pull-rigth" ng-click="vmWidgetFilter.addFilter()"><span class="glyphicon glyphicon-plus"></span></button>        
                
            
            <div class="form-group">
                <div class="row filter" ng-repeat="filter in vmWidgetFilter.filters">
                    <div class="form-group col-8 col-sm-4" ng-class="{ 'has-error' : (vmWidgetFilter.filterForm.$submitted && vmWidgetFilter.filterForm.column.$untouched)  || (vmWidgetFilter.filterForm.column.$invalid && !vmWidgetFilter.filterForm.column.$pristine) }">
                        <select name="column" class="form-control" id="widget-entities" ng-model="filter.column" ng-options="item as item.display_name for item in vmWidgetFilter.filterColumns track by item.id"  ng-required="true">
                        </select>
                        <p ng-show="(vmWidgetFilter.filterForm.$submitted && vmWidgetFilter.filterForm.column.$untouched)  || (vmWidgetFilter.filterForm.column.$invalid && !vmWidgetFilter.filterForm.column.$pristine)" class="help-block">Por favor elija una columna</p>
                    </div>
                    <div ng-if="filter.column.type == 1" class="col-8 col-sm-2" ng-class="{ 'has-error' : (vmWidgetFilter.filterForm.$submitted && vmWidgetFilter.filterForm.operation.$untouched)  || (vmWidgetFilter.filterForm.operation.$invalid && !vmWidgetFilter.filterForm.operation.$pristine) }">
                        <select name="operation" class="form-control" ng-model="filter.operation" ng-options="item as item.name for item in vmWidgetFilter.stringOperations track by item.id"  ng-required="true">
                        </select>
                        <p ng-show="(vmWidgetFilter.filterForm.$submitted && vmWidgetFilter.filterForm.operation.$untouched)  || (vmWidgetFilter.filterForm.operation.$invalid && !vmWidgetFilter.filterForm.operation.$pristine)" class="help-block">Por favor elija una operacion</p>
                    </div>
                    <div ng-if="filter.column.type == 4" class="col-8 col-sm-2" ng-class="{ 'has-error' : (vmWidgetFilter.filterForm.$submitted && vmWidgetFilter.filterForm.operation.$untouched)  || (vmWidgetFilter.filterForm.operation.$invalid && !vmWidgetFilter.filterForm.operation.$pristine) }">
                        <select name="operation" class="form-control" ng-model="filter.operation" ng-options="item as item.name for item in vmWidgetFilter.intOperations track by item.id"  ng-required="true">
                        </select>
                        <p ng-show="(vmWidgetFilter.filterForm.$submitted && vmWidgetFilter.filterForm.operation.$untouched)  || (vmWidgetFilter.filterForm.operation.$invalid && !vmWidgetFilter.filterForm.operation.$pristine)" class="help-block">Por favor elija una operacion</p>
                    </div>
                    <div class="col-8 col-sm-3" ng-class="{ 'has-error' : (vmWidgetFilter.filterForm.$submitted && vmWidgetFilter.filterForm.value.$untouched)  || ( vmWidgetFilter.filterForm.value.$invalid && !vmWidgetFilter.filterForm.value.$pristine ) }">
                        <input type="text" name="value" class="form-control" id="value" ng-model="filter.value" ng-required="true"></input>
                        <p ng-show="(vmWidgetFilter.filterForm.$submitted && vmWidgetFilter.filterForm.value.$untouched)  || ( vmWidgetFilter.filterForm.value.$invalid && !vmWidgetFilter.filterForm.value.$pristine )" class="help-block">Por favor ingrese algun valor</p>
                    </div>
                    <div class="col-8 col-sm-1">
                        <button class="btn btn-primary btn-next" ng-click="vmWidgetFilter.deleteFilter(filter)"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                    
                </div>
            </div>
            <div class="form-group">
                <label for="recipient-name">Filtro por Fecha</label>
                <button type="button" class="btn btn-primary btn-next pull-rigth" ng-click="vmWidgetFilter.addDateFilter()"><span class="glyphicon glyphicon-plus"></span></button>        
                
                <div class="row filter" ng-repeat="filter in vmWidgetFilter.dateFilters">
                    <div class="col-8 col-sm-3" ng-class="{ 'has-error' : (vmWidgetFilter.filterForm.$submitted && vmWidgetFilter.filterForm.dateColumn.$untouched)  || (vmWidgetFilter.filterForm.dateColumn.$invalid && !vmWidgetFilter.filterForm.dateColumn.$pristine) }">
                        <select name="dateColumn" class="form-control" id="widget-entities" ng-model="filter.column" ng-options="item as item.display_name for item in vmWidgetFilter.dateColumns track by item.id" ng-required="true">
                        </select>
                        <p ng-show="(vmWidgetFilter.filterForm.$submitted && vmWidgetFilter.filterForm.dateColumn.$untouched)  || (vmWidgetFilter.filterForm.dateColumn.$invalid && !vmWidgetFilter.filterForm.dateColumn.$pristine)" class="help-block">Por seleccione alguna columna</p>
                    </div>

                    <div class="col-4 col-lg-2 " ng-if="filter.column.date_column == 'mes_nombre'" ng-class="{ 'has-error' : (vmWidgetFilter.filterForm.$submitted && vmWidgetFilter.filterForm.dateOperation.$untouched)  || (vmWidgetFilter.filterForm.dateOperation.$invalid && !vmWidgetFilter.filterForm.dateOperation.$pristine) }">
                        <select class="form-control" 
                        name="dateOperation"
                        ng-model="filter.operation" 
                        ng-options="item as item.name for item in vmWidgetFilter.operationsForMonths track by item.id"
                        ng-required="true">
                        </select>
                        <p ng-show="(vmWidgetFilter.filterForm.$submitted && vmWidgetFilter.filterForm.dateOperation.$untouched)  || (vmWidgetFilter.filterForm.dateOperation.$invalid && !vmWidgetFilter.filterForm.dateOperation.$pristine)" class="help-block">Por seleccione alguna operacion</p>
                    </div>
                    <div class="col-4 col-lg-2 " ng-if="filter.column.date_column == 'ano'" ng-class="{ 'has-error' : (vmWidgetFilter.filterForm.$submitted && vmWidgetFilter.filterForm.dateOperation.$untouched)  || (vmWidgetFilter.filterForm.dateOperation.$invalid && !vmWidgetFilter.filterForm.dateOperation.$pristine) }">
                        <select class="form-control"
                        name="dateOperation" 
                        ng-model="filter.operation"
                        ng-required="true" 
                        ng-options="item as item.name for item in vmWidgetFilter.operationsForYear track by item.id">
                        </select>
                        <p ng-show="(vmWidgetFilter.filterForm.$submitted && vmWidgetFilter.filterForm.dateOperation.$untouched)  || (vmWidgetFilter.filterForm.dateOperation.$invalid && !vmWidgetFilter.filterForm.dateOperation.$pristine)" class="help-block">Por seleccione alguna operacion</p>
                    </div>
                    <div class="col-4 col-lg-2" ng-if="filter.column.date_column == 'mes_nombre'" ng-class="{ 'has-error' : (vmWidgetFilter.filterForm.$submitted && vmWidgetFilter.filterForm.dateValue1.$untouched)  || (vmWidgetFilter.filterForm.dateValue1.$invalid && !vmWidgetFilter.filterForm.dateValue1.$pristine) }">
                        <select class="form-control" 
                        ng-model="filter.date1"
                        name="dateValue1"
                        ng-required="true" 
                        ng-options="item.value as item.name for item in vmWidgetFilter.months track by item.value">
                        </select>
                        <p ng-show="(vmWidgetFilter.filterForm.$submitted && vmWidgetFilter.filterForm.dateValue1.$untouched)  || (vmWidgetFilter.filterForm.dateValue1.$invalid && !vmWidgetFilter.filterForm.dateValue1.$pristine)" class="help-block">Por seleccione algun valor</p>
                    </div>
                    <div class="col-4 col-lg-2" ng-if="filter.column.date_column == 'ano'" ng-class="{ 'has-error' : (vmWidgetFilter.filterForm.$submitted && vmWidgetFilter.filterForm.dateValue1.$untouched)  || (vmWidgetFilter.filterForm.dateValue1.$invalid && !vmWidgetFilter.filterForm.dateValue1.$pristine) }">
                        <select class="form-control" 
                        ng-model="filter.date1" 
                        name="dateValue1"
                        ng-required="true"
                        ng-options="item as item for item in vmWidgetFilter.years track by item">
                        </select>
                        <p ng-show="(vmWidgetFilter.filterForm.$submitted && vmWidgetFilter.filterForm.dateValue1.$untouched)  || (vmWidgetFilter.filterForm.dateValue1.$invalid && !vmWidgetFilter.filterForm.dateValue1.$pristine)" class="help-block">Por seleccione algun valor</p>
                    </div>
                    <div class="col-4 col-lg-2" ng-if="filter.column.date_column == 'mes_nombre' && filter.operation.name == 'Entre'" ng-class="{ 'has-error' : (vmWidgetFilter.filterForm.$submitted && vmWidgetFilter.filterForm.dateValue2.$untouched)  || (vmWidgetFilter.filterForm.dateValue2.$invalid && !vmWidgetFilter.filterForm.dateValue2.$pristine) }">
                        <select class="form-control" 
                        ng-model="filter.date2"
                        name="dateValue2"
                        ng-required="true"
                        ng-options="item.value as item.name for item in vmWidgetFilter.months track by item.value">
                        </select>
                        <p ng-show="(vmWidgetFilter.filterForm.$submitted && vmWidgetFilter.filterForm.dateValue2.$untouched)  || (vmWidgetFilter.filterForm.dateValue2.$invalid && !vmWidgetFilter.filterForm.dateValue2.$pristine)" class="help-block">Por seleccione algun valor</p>
                    </div>
                    <div class="col-4 col-lg-2" ng-if="filter.column.date_column == 'ano' && filter.operation.name == 'Entre'" ng-class="{ 'has-error' : (vmWidgetFilter.filterForm.$submitted && vmWidgetFilter.filterForm.dateValue2.$untouched)  || (vmWidgetFilter.filterForm.dateValue2.$invalid && !vmWidgetFilter.filterForm.dateValue2.$pristine) }">
                        <select class="form-control" 
                        ng-model="filter.date2"
                        name="dateValue2"
                        ng-required="true"
                        ng-options="item as item for item in vmWidgetFilter.years track by item">
                        </select>
                        <p ng-show="(vmWidgetFilter.filterForm.$submitted && vmWidgetFilter.filterForm.dateValue2.$untouched)  || (vmWidgetFilter.filterForm.dateValue2.$invalid && !vmWidgetFilter.filterForm.dateValue2.$pristine)" class="help-block">Por seleccione algun valor</p>
                    </div>
                   

                    <div class="col-8 col-sm-1">
                        <button class="btn btn-primary btn-next" ng-click="vmWidgetFilter.deleteDateFilter(filter)"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                    
                    
                </div>
            </div>
            
            
        
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-next pull-left" ng-click="vmWidgetFilter.stepTree()">Atrás</button>
            <button type="submit" class="btn btn-default btn-next pull-rigth">Previsualización</button>
            <button type="button" class="btn btn-default btn-next pull-left" ng-click="vmWidgetFilter.reset()" >Cerrar</button>
            <button type="button" class="btn btn-default btn-next pull-rigth" ng-click="vmWidgetFilter.save()" >Guardar</button>
        </div>
    </form>
    

</div>